@import "reset.css";
@import "keyframes.css";
@import "site.css";
@import "todo.css";
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-animation: fadein 0.6s;
}
.main {
  padding: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hidden {
  display: none !important;
}
#login-form {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  bottom: 40%;
  justify-content: center;
}
#login-form input {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
}
#login-form input::placeholder {
  color: aliceblue;
  font-size: 30px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
#login-form input {
  border-bottom: aliceblue solid 2px;
  width: 300px;
}
#login-form input:focus::placeholder {
  opacity: 0;
}
.login-btn {
  margin-top: 10px;
  color: aliceblue;
  font-size: 20px;
}
.clock-div {
  width: 400px;
  height: 120px;
  z-index: 1;
  text-align: center;
  vertical-align: middle;
}
#clock {
  display: inline-block;

  /*텍스트 중앙정렬 line-height임
  이거 찾는다고 죽는줄 알았네;;*/
  font-family: sans-serif;
  font-weight: 400;
  font-size: 100px;
  color: aliceblue;
  z-index: 1;
}

.text-shadow {
  text-shadow: 1px 1px 3px black;
}
.bgImage {
  z-index: -1;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.clock__shadow {
  font-weight: 900;
  filter: blur(5px);
}

.clock-to-top-right__finished {
  transform: translateY(-40vh) translateX(50vw) translateX(-140px) scale(0.6);
}
#greeting,
#quote,
#logout-btn {
  color: aliceblue;
}
#greeting {
  position: fixed;
  top: 10px;
  left: 10px;
}
#quote {
  position: fixed;
  width: 100vw;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote__column {
  display: inline-block;
}
.quote__column:first-child {
  font-size: 16px;
}
.quote__column:last-child {
  margin-top: 4px;
  font-size: 12px;
}
.logout-div {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
#clock {
  font-weight: 300;
}

#todo-form input,
#todo-form input::placeholder {
  color: aliceblue;
}
#todo-list {
  position: fixed;
  top: 0;
}
